.list-container {
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: space-between;
}

.search-bar {
    display: flex;
    align-items: center;
}

.single-location-card {
    margin-top: 10px;
    width: 100%;
}

.card-actions {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.choice-containers {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width:600px) {
    .list-container {
        margin-right: 20px;
    }
}