@media screen and (max-width : 600px){
    .search-container {
        width : 9rem;
    }

    .mapContainer {
        margin-right: 20px;
    }
}

@media screen and (max-width : 900px){
    .logo {
        width: 2rem;
    }
}