* {
    box-sizing : border-box;
}

body {
    margin : 0;
    padding : 0;
    min-height: 100%;
}

#root {
    min-height: 100%;
}

.pac-container {
    z-index: 1200;
}

.scroll-to-top {
    position: fixed !important;
    bottom: 0% !important;
    left: 50% !important;
    right: 50% !important;
}