.mapContainer {
    height: 100vh;
}

.marker-container {
    cursor: pointer;
    position: 'absolute';
    transform: 'translate(-50%, -50%)';
    z-index: 1;
}

.marker-container:hover{
    z-index: 2;
}